In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#file locations
stations_csv = "datafiles/clean_stations_csv.csv"
measurements_csv = "datafiles/clean_measurements_csv.csv"

In [3]:
#read files into initial data frames
msr_df = pd.read_csv(measurements_csv)
sta_df = pd.read_csv(stations_csv)

In [4]:
sta_df.head()

       station  latitude  longitude  elevation
0  USC00519397   21.2716  -157.8168        3.0
1  USC00513117   21.4234  -157.8015       14.6
2  USC00514830   21.5213  -157.8374        7.0
3  USC00517948   21.3934  -157.9751       11.9
4  USC00518838   21.4992  -158.0111      306.6

In [5]:
msr_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [6]:
# #import slq academy ORM and sqlite
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import func

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [7]:
msr_df.columns

Index(['station', 'date', 'prcp', 'tobs'], dtype='object')

In [8]:
# Create the Measurement class

class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [9]:
sta_df.columns

Index(['station', 'latitude', 'longitude', 'elevation'], dtype='object')

In [10]:
# Create the Station class
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [11]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///hawaii.sqlite')

In [12]:
# Create the table within the database
Base.metadata.create_all(engine)

In [13]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [14]:
sta_df.columns

Index(['station', 'latitude', 'longitude', 'elevation'], dtype='object')

In [15]:
#Load the station dataframe into the sqlite database through adding the data via sql statements

for index, row in sta_df.iterrows():
    print(row['station'], row['latitude'], row['longitude'])
    station_insert = Station(station=row['station'], latitude=row['latitude'], longitude=row['longitude'], elevation=row['elevation'])
    session.add(station_insert)
    session.commit()

USC00519397 21.2716 -157.8168
USC00513117 21.4234 -157.8015
USC00514830 21.5213 -157.8374
USC00517948 21.3934 -157.9751
USC00518838 21.4992 -158.0111
USC00519523 21.33556 -157.71139
USC00519281 21.45167 -157.84888999999995
USC00511918 21.3152 -157.9992
USC00516128 21.3331 -157.8025

In [16]:
msr_df.columns

Index(['station', 'date', 'prcp', 'tobs'], dtype='object')

In [17]:
#Load the measurement dataframe into the sqlite database through adding the data via sql statements

for index, row in msr_df.iterrows():
    measure_insert = Measurement(station=row['station'], date=row['date'], prcp=row['prcp'], tobs=row['tobs'])
    session.add(measure_insert)
    session.commit()

In [18]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import func

In [19]:
# Reflect Database into ORM classes
autobase = automap_base()
autobase.prepare(engine, reflect=True)
autobase.classes.keys()

['measurement', 'station']

In [20]:
# Assign the station and measurement class to a variables MeasurementTbl and StationTbl
measurementTbl = autobase.classes.measurement
stationTbl = autobase.classes.station

In [21]:
#create a session
session = Session(engine)

In [22]:
# Display the row's columns and data in dictionary format for Measurement Table
first_row = session.query(measurementTbl).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x110984a90>,
 'date': '2010-01-01',
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65}

In [23]:
# Display the row's columns and data in dictionary format for Station Table
first_row = session.query(stationTbl).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1109b1390>,
 'elevation': 3.0,
 'id': 1,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'station': 'USC00519397'}

In [24]:
session.query(func.count(stationTbl.station)).all()

[(9)]

### Items below this are not in the solution but notes for how I got to the code above

In [ ]:
User.__table__.drop(engine)
User.__table__.create(engine)

In [ ]:
for idx, row in sta_df.iterrows():
    print("row" + str(idx))

In [ ]:
station_insert = Station(station=row['station'], latitude=row['latitude'], longitude=row['longitude'], elevation=row['elevation'])

In [ ]:
# Create some instances of the Measurement class

measure_one = Measurement(station="USC00519397", date="2017-07-31", prcp=0.09, tobs=79)
measure_two = Measurement(station="USC00519400", date="2017-07-14", prcp=0.09, tobs=71)
measure_three = Measurement(station="USC00519500", date="2017-07-04", prcp=0.09, tobs=76)

In [ ]:
# Add these objects to the session

session.add(measure_one)
session.add(measure_two)
session.add(measure_three)
# Commit the objects to the database
session.commit()

In [ ]:
# Collect all of the items and print their information

items = session.query(Measurement)
for item in items:
    print("-"*12)
    print(f"id: {item.id}")
    print(f"station: {item.station}")
    print(f"date: {item.date}")
    print(f"prcp: {item.prcp}")
    print(f"tobs: {item.tobs}")